
body{
    font-family: Arial, sans-serif;
    margin: 20px;
   
}
.container{
    max-width: 600px;
    margin: auto;
}
input, button{
    padding: 8px;
    margin: 5px;
}

.book{
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.available{
    color: green;
}
.borrowed{
    color: red;
}
